
/* line 170 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 1 : /usr/local/lib/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 2 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;margin:0;padding:0}
/* line 7 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* line 10 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
body{line-height:1}
/* line 13 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
ol,ul{list-style:none}
/* line 16 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
blockquote,q{quotes:none}
/* line 19 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
blockquote:before,blockquote:after,q:before,q:after{content:none}
/* line 22 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
table{border-collapse:collapse;border-spacing:0}
/* line 27 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 38 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 39 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
body{font-family:'Oxygen',Helvetica,sans-serif;font-size:10px;background:#efefef;color:#0c161c}
/* line 45 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
nav,section div{padding:.7rem 0;max-width:1024px;margin:0 auto;box-sizing:border-box}
/* line 51 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
h1{font-size:1.7rem;margin-bottom:2rem}
/* line 55 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
h2{font-size:1.2rem;margin-bottom:1rem}
/* line 59 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
a{color:#bdd4de;}
/* line 61 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
a:hover{color:#3f5765}
/* line 66 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 67 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
header{background:#2b3a42;border-bottom:2px solid #bdd4de;font-size:1.6em}
/* line 72 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
nav a{padding:.5rem 1rem;display:inline-block;text-decoration:none;font-weight:400;color:#fff;border-right:1px solid #efefef;cursor:pointer;}
/* line 81 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
nav a:last-child{border:none}
/* line 85 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
nav a:hover{color:#e74c3c}
/* line 90 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
header .logo{float:right;font-family:'Oxygen',Arial,sans-serif;font-size:1.8em;margin:0 10px;font-weight:700;border:none;padding:0;}
/* line 99 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
header .logo:hover{color:#fff}
/* line 105 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 106 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
section{background:#fff;font-size:2rem;padding:2rem 1rem 0}
/* line 111 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
section > div{padding:3rem 1.5rem}
/* line 114 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
section p{margin-bottom:2rem;font-size:1.5rem;line-height:normal}
/* line 121 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 122 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.splash{padding:3rem 0 2rem;background:#2b3a42;font-weight:bold;text-align:right;color:#efefef;}
/* line 129 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.splash .hello{font-size:3rem;margin-bottom:5rem}
/* line 134 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.splash .small-links a{text-decoration:none;font-size:1.3rem;margin-left:2rem}
/* line 142 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */

/* line 143 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.about{background:#2b3a42;color:#efefef}
/* line 147 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.resume{padding:0}
/* line 150 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.resume div{padding:1rem}
/* line 153 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.big-links{text-align:center}
/* line 156 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.big-links a{border:1px solid #bdd4de;display:inline-block;width:48%;padding:2rem 0;text-decoration:none;}
/* line 162 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.big-links a:hover{border-color:#3f5765;background:#efefef}
/* line 166 : /Users/stocky/Clients/Stocky/design/stylus/style.styl */
.big-links a:first-of-type{margin-right:2%}