/* - - - RESET - - - */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* - - - VARIABLES - - - */ 
primary = #2B3A42;
secondary = #EFEFEF;
tertiary = #E74C3C;

linkColor = #BDD4DE;
linkHover = tertiary;

black = #0C161C;


/* - - - GENERAL STYLES - - - */
body {
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-size: 10px;
  background: secondary;
  color: black;
}
nav, section > div, footer > div {
  padding: .7rem 0;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}
h1 {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: tertiary;
}
h2 {
  font-size: 1.2rem;
  margin-bottom: .5rem;
}
a {
  color: linkColor;
  &:hover {
    color: linkHover;
  }
}

/* - - - HEADER STYLES - - - */
header {
  background: primary;
  border-bottom: 2px solid linkColor;
  font-size: 1.6em;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
nav a {
  padding: .5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  border-right: 1px solid secondary;
  cursor: pointer;

  &:last-child {
    border: none; 
  }

  &:hover {
    color: tertiary;
  }
}

header .logo {
  float: right;
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1.8em;
  margin: 0px 10px;
  font-weight: 700;
  border: none;
  padding: 0;

  &:hover {
    color: #fff;
  }
}


/* - - - SECTION STYLES - - - */
section {
  background: white;
  font-size: 2rem;
  padding: 0 1rem;
}
section > div {
  padding: 6rem 1.5rem 2.5rem;
  position: relative;
}
section p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  line-height: normal;
}

/* - - - SPLASH SECTION - - - */
.splash {
  padding: 8rem 0 3rem;
  margin-top: 1rem;
  background: primary;
  font-weight: 300;
  text-align: right;
  color: secondary;
  background: url('../img/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  
  & > div {
    padding: 2rem;
  }

  p {
    padding-left: 10rem;
    font-size: 1.6rem;
  }

  .hello {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 900;
    padding: 0;
  }
}

/* - - - LINKS SECTION - - - */
.small-links {
  background: rgba(primary, .7);
  border-top: 1px solid #555;
  border-bottom: 1px solid black;
  padding-bottom: .7rem;
  text-align: right;
  margin-top: -3rem;
}
.small-links > div {
  padding: 0 2rem;
}
.small-links a {
  text-decoration: none;
  font-size: 1.3rem;
  margin-left: 2rem;
}


/* - - - CONTENT SECTIONS - - - */
.about {
  background: linkColor;
  color: black;
}
.about > div {
  padding-top: 4.5rem;
}
.development {
  background: secondary;
}
.resume > div {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.big-links {
  text-align: center;
}
.big-links a {
  border: 1px solid linkColor;
  display: inline-block;
  width: 48%;
  padding: 2rem 0;
  text-decoration: none;
  &:hover {
    border-color: linkHover;
    background: linkColor;
  }
  &:first-of-type {
    margin-right: 2.5%;
  }
}

// SECTION ARROWS
.development, .user-experience {
  & > div:after {
    top: 0%;
    left: 3.5rem;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(white, 0);
    border-top-color: white;
    border-width: 30px;
    margin-left: -30px;
  }
}

// UI/UX OVERRIDE
.user-experience > div:after {
  border-top-color: linkColor;
}

// SECTION ICONS
.development, .user-experience {
  i {
    color: tertiary;
    border: 1px solid tertiary;
    width: 4rem;
    padding: 1rem 0;
    text-align: center;
    position: absolute;
  }

// SECTION CONTENT
  p, h2 {
    margin-left: 6rem;
  }
  p {
    margin-bottom: 3rem; 
  }
}


/* - - - FOOTER STYLES - - - */
footer {
  background: primary;
  color: secondary;
  text-align: right;
  font-size: 1.4rem;
  padding: 0 1rem;

  a {
    text-decoration: none;
  }
}

footer .links {
  float: left;
  
  a {
    margin-right: 1rem;
  }
}