/* - - - RESET - - - */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* - - - VARIABLES - - - */ 
primary = #2B3A42;
secondary = #EFEFEF;
tertiary = #E74C3C;

linkColor = #BDD4DE;
linkHover = #3F5765;

black = #0C161C;


/* - - - GENERAL STYLES - - - */
body {
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-size: 10px;
  background: secondary;
  color: black;
}
nav, section div {
  padding: .7rem 0;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}
a {
  color: linkColor;
  &:hover {
    color: linkHover;
  }
}

/* - - - HEADER STYLES - - - */
header {
  background: primary;
  border-bottom: 2px solid #0C161C;
  font-size: 1.6em;
}
nav a {
  padding: .5rem 1rem;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  border-right: 1px solid secondary;
  cursor: pointer;

  &:last-child {
    border: none; 
  }

  &:hover {
    color: tertiary;
  }
}

header .logo {
  float: right;
  font-family: 'Oxygen', Arial, sans-serif;
  font-size: 1.8em;
  margin: 0px 10px;
  font-weight: 700;
  border: none;
  padding: 0;

  &:hover {
    color: #fff;
  }
}

/* - - - SECTION STYLES - - - */
section {
  background: white;
  font-size: 2rem;
}
section div {
  padding: 3rem 1rem;
}


/* - - - SPLASH SECTION - - - */
.splash {
  padding: 3rem 0rem 2rem;
  background: #BDD4DE;
  font-weight: bold;
  text-align: right;
  
  .hello {
    font-size: 3rem;
    margin-bottom: 5rem;
  }

  .small-links a {
    text-decoration: none;
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}

















